/* Flex */
.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.container {
	max-width: 100%;
	margin: 0 auto;
  background-color: #f44336;
}

table {
  width: 100%;
}

.check {
  text-align: center;
}

.center {
	justify-content: center;
}

body {
	color: #f44336;
}

mat-card {
  min-width: 250px;
  max-width: 250px;
  margin: 0px;
  text-align: left;
  font-size: 0.5em;
  background-color: #eaeaea;
  background: #eaeaea;
}

.mat-row:nth-child(2n+1){
  background-color: #e4f0ec;
}
.mat-row:not(:nth-child(4n+1)){
  background-color:#ffffff;
}