/* Flex */
.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.container {
	max-width: 100%;
	margin: 0 auto;
    border: 0px solid #ccc;
}

.menu_tes {
    background: url(../../../assets/img/perfil/menu_tes.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 162px;
    height: 76px;
    padding: 5px;
}

.menu_sec {
    background: url(../../../assets/img/perfil/menu_sec.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 162px;
    height: 76px;
    padding: 5px;
}

.menu_config{
    background: url(../../../assets/img/perfil/menu_config.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 162px;
    height: 76px;
    padding: 5px;
}

.menu_adm{
    background: url(../../../assets/img/perfil/menu_adm.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 162px;
    height: 76px;
    padding: 5px;
}

.center {
	justify-content: center;
}

body {
	color: #f44336; 
}

.mat-card {
    max-width: 200px;
    min-width: 200px;
    margin: 5px;
	text-align: left;
    font-size: 1em;
    background: #eaeaea;
  }