<div class="container">
    <div class="flex-container" 
      fxLayout="row" 
      fxLayout.sm="column"
      fxLayoutAlign="center"
      fxFlexAlign="center">
      <div class="flex-container" *ngFor="let rotina of rotinas" 
        fxLayout="row" 
        fxLayout.xs="column" 
        fxLayout.md="column">
        <mat-card class="card-perfil">

          <button mat-icon-button (click)="selectRotina(rotina)">
            <span class="link-caption">{{ rotina.nome }}</span>
          </button>
        </mat-card>
      </div>
    </div>