<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon aria-hidden="false" aria-label="Example home icon" color="warn">home</mat-icon>
    <span><a color="warn" mat-button href="/">HOME</a></span>
    <span class="spacer"></span> 
    <a color="warn" mat-button routerLink="/relatorio">Relatorio</a>
    <a color="warn" mat-button routerLink="/relatorio-debito">Debito</a>
    <a color="warn" mat-button routerLink="/debito-financeiro">Débito Financeiro</a>
    <a color="warn" mat-button routerLink="/usuario">Usuário</a>
    <a color="warn" mat-button routerLink="/login">Login</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>