<div class="mat-app-background basic-container">
   <mat-card id="card" style="text-align: center;">
      <mat-card-title>Controle de Acesso</mat-card-title>

      <mat-card-content>

         <mat-form-field>
            <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="inputEmail"
               #email="ngModel" placeholder="Email" email required matInput>
         </mat-form-field><br />

         <mat-form-field>
            <input type="password" [(ngModel)]="user.password" name="password" class="form-control" id="inputPassword"
               placeholder="Password" #password="ngModel" required matInput>
         </mat-form-field><br />
         <button mat-raised-button color="primary" (click)="login()" style="margin-right:5px;">Entrar</button>

      </mat-card-content>
   </mat-card>
</div>