
<div class="mat-app-background basic-container" novalidate>  
   <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Controle de Acesso</mat-card-title>
   </mat-card-header>

   <mat-card class="example-card">
      <form [formGroup]="formGroup" (ngSubmit)="login()" class="form">
         <mat-form-field class="form-element">
            <input [(ngModel)]="user.email" matInput placeholder="Email" formControlName="email"/>

            <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
               login obrigatório.
            </mat-error>
         </mat-form-field>

         <mat-form-field class="form-element">
            <input [(ngModel)]="user.password" type="password" matInput placeholder="Password" formControlName="password">

            <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
               senha obrigatório.
            </mat-error>
         </mat-form-field>

         <div class="form-element">
            <button mat-raised-button color="warn" type="submit" class="button"
               [disabled]="!formGroup.valid">Entrar</button>
         </div>

      </form>
   </mat-card>
</div>