<section class="container flex flex-wrap center">
   <div class="flex-container">
      <mat-card >
         <mat-card-header>
            <mat-card-subtitle>Sistema de Geração de Relatório</mat-card-subtitle>
         </mat-card-header>
         <mat-card-content>

            <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
               <p *ngIf="message" class="error"> {{ message }} </p>
               <div class="example-container">
                  <mat-form-field>
                     <input [(ngModel)]="user.login" matInput placeholder="Login" formControlName="login"/>
                  </mat-form-field>

                  <mat-form-field>
                     <input [(ngModel)]="user.password" matInput type="password" placeholder="Password"
                        formControlName="password"/>
                  </mat-form-field>

                  <mat-spinner-button [disabled]="!loginForm.valid" [options]="spinnerButtonOptions" >
                  </mat-spinner-button>

               </div>
            </form>

         </mat-card-content>
      </mat-card>
   </div>
</section>
