mat-form-field {
    margin-right: 12px;
}

mat-select {
  margin-right: 12px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  min-width: 200px;
  max-width: 250px;
  width: 100%;
}

.example-litle-width {
  min-width: 50px;
  max-width: 50px;
  width: 100%;
}

body {      
  background-color: #eaeaea;
}

.titulo {
  font-weight: bold;
  color: #6a1212;
  padding: 5px;
  text-align: left;
  width: 100%;
}