<div class="registro">Associação do Usuário: {{usuarioAssociacao.usuario.nome}}</div>
<div class="container">
  <div fxLayout="row wrap">
    <div fxLayout="column" class="itemCheck">
      <mat-checkbox [(ngModel)]="usuarioAssociacao.usuario.in_privilegio" (change)="onChangeUsuario(usuarioAssociacao.usuario)">Privilégio</mat-checkbox>
    </div>
  </div>
</div>

<hr />
<div class="container">
  <div fxLayout="row wrap">
    <div fxLayout="column">
      <div class="item">
        <mat-card class="example-card">
          <mat-card-content>  
            <mat-checkbox [(ngModel)]="usuarioAssociacao.usuario.zona" (change)="onChangeUsuario(usuarioAssociacao.usuario)">Zona</mat-checkbox>
            <table mat-table [dataSource]="usuarioAssociacao.usuarioZonas" class="mat-elevation-z8">

              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
              </ng-container>

              <ng-container matColumnDef="usuarioZona">
                <th mat-header-cell *matHeaderCellDef> Check </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox [(ngModel)]="element.usuarioZona" (change)="onChangeZona(element)"></mat-checkbox>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsZona; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsZona;"></tr>
            </table>
            <div class="registro">total de registros: {{usuarioAssociacao.usuarioZonas.length}} zonas</div>
          </mat-card-content>
        </mat-card>

      </div>
      
    </div>
    <div fxLayout="column">
      <div class="item">

        <mat-card class="example-card">
          <mat-card-content>
            <mat-checkbox [(ngModel)]="usuarioAssociacao.usuario.nucleo" (change)="onChangeUsuario(usuarioAssociacao.usuario)">Nucleo</mat-checkbox>            
            <table mat-table [dataSource]="usuarioAssociacao.usuarioNucleos" class="mat-elevation-z8">

              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
              </ng-container>

              <ng-container matColumnDef="usuarioNucleo">
                <th mat-header-cell *matHeaderCellDef> Check </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox [(ngModel)]="element.usuarioNucleo" (change)="onChangeNucleo(element)"></mat-checkbox>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsNucleo; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsNucleo;"></tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="registro">total de registros: {{usuarioAssociacao.usuarioNucleos.length}} nucleos</div>
    </div>


    <div fxLayout="column">
      <div class="item">

        <mat-card class="example-card">
          <mat-checkbox [(ngModel)]="usuarioAssociacao.usuario.area" (change)="onChangeUsuario(usuarioAssociacao.usuario)">Area</mat-checkbox>
          <mat-card-content>

            <mat-form-field>
              <mat-label>Area</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="area">
            </mat-form-field>
            <table mat-table [dataSource]="areas" class="mat-elevation-z8">

              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
              </ng-container>

              <ng-container matColumnDef="usuarioArea">
                <th mat-header-cell *matHeaderCellDef> Check </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox [(ngModel)]="element.usuarioArea" (change)="onChangeArea(element)"></mat-checkbox>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsArea"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsArea;"></tr>
            </table>
          </mat-card-content>
        </mat-card>

      </div>

      <div class="registro">total de registros: {{usuarioAssociacao.usuarioAreas.length}} areas</div>
    </div>

  </div>
  <button mat-button (click)="onNoClick()"><mat-icon>close</mat-icon>Fechar</button>
</div>
