/* Flex */
.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.container {
	max-width: 100%;
	margin: 0 auto;
  border: 0px solid #ccc;
  overflow: auto;
}

.center {
	justify-content: center;
}

body {
	color: #f44336; 
}

.mat-card {
    max-width: 200px;
    min-width: 200px;
    margin: 5px;
	  text-align: left;
    font-size: 1em;
    background: #eaeaea;
    height: 400px;
    overflow: auto;
  }