
.box {
  border: 1px;;
  border-color: red;
  border-style: solid;
}

.item {
  min-width: 250px;
  max-width: 250px;
  height: 400px;
  margin: 1px;
  text-align: left;
  overflow-y: auto;
}

div.registro {
  font-weight: bold;
  color: red;
  padding: 5px;
  text-align: center;
  width: 100%;
}

table {
  width: 100%;
}