<p>Relatório</p>
<div class="example-container">    
    <mat-form-field>
        <mat-select placeholder="Zona" [(ngModel)]="zona.idZona" (selectionChange)="changeZona($event)">
            <mat-option *ngFor="let zona of zonas" [value]="zona.idZona">
                {{zona.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Nucleo" [(ngModel)]="nucleo.idNucleo" (selectionChange)="changeZona($event)">
            <mat-option *ngFor="let nucleo of nucleos" [value]="nucleo.idNucleo">
                {{nucleo.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Area" [(ngModel)]="area.id" (selectionChange)="changeArea($event)">
            <mat-option *ngFor="let area of areas" [value]="area.id">
                {{nucleo.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div style="height: 600px">
    <ng2-pdfjs-viewer #pdfViewer></ng2-pdfjs-viewer>
</div>