<h2 class="titulo">Relatório Débito Pastoral</h2>

<mat-card style="background-color: #eaeaea">
  <mat-card-content>
    <div class="auto">
      <div class="ng-autocomplete" id="zona"  class="divInput">
        <mat-card-subtitle>Região</mat-card-subtitle>
        <ng-autocomplete
          placeHolder="informe a região"
          [data]="filtroDto.zonas"
          [searchKeyword]="keyword"
          (selected)="selectZona($event)"
          (inputChanged)="onChangeSearch($event)"
          (inputFocused)="onFocused($event)"
          (inputCleared)="zonaCleared()"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
          [initialValue]="filtroDto.zona"
          [ngModel]="filtroDto.zona.nome"
        >
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.nome"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>

      <div id="zonaInput" class="divInput">
        <mat-card-subtitle>Região</mat-card-subtitle>
        <input class="input" readonly=true
          [(ngModel)]="filtroDto.zona.nome"
        />
      </div>

      <div id="nucleo" class="divInput">
        <mat-card-subtitle>Nucleo</mat-card-subtitle>
        <ng-autocomplete
          placeHolder="informe o nucleo"
          [data]="filtroDto.nucleos"
          [searchKeyword]="keyword"
          (selected)="selectNucleo($event)"
          (inputChanged)="onChangeSearch($event)"
          (inputFocused)="onFocused($event)"
          (inputCleared)="nucleoCleared()"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
          [initialValue]="filtroDto.nucleo"
          [ngModel]="filtroDto.nucleo.nome"
        >
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.nome"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>

      <div id="nucleoInput" class="divInput">
        <mat-card-subtitle>Nucleo</mat-card-subtitle>
        <input class="input"
         [(ngModel)]="filtroDto.nucleo.nome"
          readonly=true
        />
      </div>

      <div id="area" class="divInput">
        <mat-card-subtitle>Area</mat-card-subtitle>
        <ng-autocomplete
          placeHolder="informe a area"
          [data]="filtroDto.areas"
          [searchKeyword]="keyword"
          (selected)="selectArea($event)"
          (inputChanged)="onChangeSearch($event)"
          (inputFocused)="onFocused($event)"
          (inputCleared)="areaCleared()"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
          [initialValue]="filtroDto.area"
          [ngModel]="filtroDto.area.nome"
        >
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.nome"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>     

      <div id="areaInput" class="divInput">
        <mat-card-subtitle>Area</mat-card-subtitle>
        <input class="input"
         [(ngModel)]="filtroDto.area.nome"
          readonly=true
        />
      </div>

    </div>

    <mat-form-field>
      <mat-select placeholder="Ano" [(ngModel)]="filtroDto.ano">
        <mat-option *ngFor="let ano of filtroDto.anos" [value]="ano">
          {{ ano }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <div class="example-button-row botoes">
      <button mat-raised-button (click)="getPerfil()">
        <i class="material-icons">undo</i>Voltar
      </button>

      <button
        mat-raised-button
        [disabled]="filtroDto.zona.id < 0"
        (click)="gerarRelatorio()"
      >
        <i class="material-icons">print</i>Visualizar
      </button>

      <button mat-raised-button (click)="ngOnInit()">
        <i class="material-icons">restore</i>Limpar
      </button>
    </div>
  </mat-card-actions>
</mat-card>
<ngx-ui-loader></ngx-ui-loader>

<div style="height: 600px">
  <ng2-pdfjs-viewer #pdfViewer></ng2-pdfjs-viewer>
</div>
