mat-form-field {
  margin-right: 12px;
}

mat-select {
margin-right: 12px;
}

mat-select input {
  margin-right: 12px;
  }

button {
margin-right: 12px;
}

body {
  background-color: #9e8d8d;
}

.titulo {
  font-weight: bold;
  color: #6a1212;
  padding: 5px;
  text-align: left;
  width: 100%;
}

.search-select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}

.search-header-searchbox {
  font-size: 15px;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

.auto {
  width: 100%;
  display: inline-block;
  background-color: #eaeaea !important;
  padding-bottom: 12px;
}

.ng-autocomplete {
  width: 100%;
  max-width: 250px;
  display: inline-block;
  padding-right: 5px;
  background-color: #eaeaea !important;
}


:host ::ng-deep .autocomplete-container .input-container input {
  background: transparent !important;
  box-shadow: none !important;
  width: auto !important;
  background-color: #eaeaea !important;
  display: inline-block;
}

.mat-card-subtitle{
  padding-right: 5px;
  padding-left: 5px;
  height: 3px;
}

span {
  margin-left: 5px;
}
