<div class="mat-app-background basic-container">

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Relatório Débito Pastoral</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-select placeholder="Zona" [(ngModel)]="filtroDto.zona" (selectionChange)="carregarNucleo()">
                    <mat-option *ngFor="let zona of filtroDto.zonas" [value]="zona">
                        {{zona.id}} - {{zona.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Nucleo" [(ngModel)]="filtroDto.nucleo" (selectionChange)="changeArea()">
                    <mat-option *ngFor="let nucleo of filtroDto.nucleos" [value]="nucleo">
                        {{nucleo.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Area" [(ngModel)]="filtroDto.area">
                    <mat-option *ngFor="let area of filtroDto.areas" [value]="area">
                        {{area.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Ano" [(ngModel)]="filtroDto.ano">
                    <mat-option *ngFor="let ano of filtroDto.anos" [value]="ano">
                        {{ano}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>

        <button mat-raised-button (click)="getPerfil()">
            <i class="material-icons">undo</i>Voltar</button>

        <button [disabled]="!validateZona()" mat-raised-button (click)="gerarRelatorio()">
            <i class="material-icons">print</i>Imprimir</button>
    </mat-card>

    <div style="height: 600px">
        <ng2-pdfjs-viewer #pdfViewer></ng2-pdfjs-viewer>
    </div>
</div>