mat-form-field {
  margin-right: 12px;

}

mat-select {
  margin-right: 12px;

}

mat-select input {
  margin-right: 12px;
}

.example-button-row button,
.example-button-row a {
  margin: 5px 2px;
}

.botoes {
  display: inline-block;
  padding: 10px;;
}

button {
  margin-right: 12px;
  margin-top: 5px;
}

body {
  background-color: #9e8d8d;
}

.titulo {
  font-weight: bold;
  color: #6a1212;
  padding: 5px;
  text-align: left;
  width: 100%;
}

.ng-autocomplete {
  width: 100%;
  max-width: 250px;
  display: inline-block;
  padding-right: 5px;
  font-weight:bold;
  color: black;
}



.mat-card-subtitle{
  padding-right: 5px;
  padding-left: 5px;
  height: 3px;
}

.auto {
  width: 100%;
  display: inline-block;
  background-color: #eaeaea !important;
  padding-bottom: 12px;
}

span {
  margin-left: 5px;
}
